<h2>Template: <small>Dinámicos</small></h2>
<hr />

<form #miFormulario2="ngForm" (ngSubmit)="guardar()">
  <div class="input-group mt-4 mb-3">
    <input
      required
      minlength="3"
      [ngModel]="persona.nombre"
      name="nombre"
      type="text"
      placeholder="Nombre de la persona"
      class="form-control"
    />

    <button
      class="btn btn-primary float-end"
      type="button"
      (click)="guardar()"
      [disabled]="miFormulario2.controls['nombre']?.errors"
    >
      Guardar
    </button>
  </div>
  <span
    class="form-text text-danger"
    *ngIf="miFormulario2.controls['nombre']?.errors"
    >El nombre debe ser de al menos 3 letras</span
  >

  <div class="input-group mt-4">
    <input (keyup.enter)="agregarJuego()" type="text" class="form-control" placeholder="Agregar favorito" name="nuevoJuego" [(ngModel)]="nuevoJuego" />
    <button class="btn btn-outline-primary" (click)="agregarJuego()" type="button">
      Agregar
    </button>
  </div>

  <div
    *ngFor="let juego of persona.favoritos; let i = index"
    class="input-group mt-4"
  >
    <input
      type="text"
      name="juego_{{i}}"
      [(ngModel)]="juego.nombre"
      class="form-control"
    />
    <button class="btn btn-outline-danger" (click)="eliminar(i)" type="button">
        Eliminar
      </button>
  </div>
</form>


<span>Persona</span>
<pre>{{persona | json}}</pre>