<div class="col-11">
  <h2>Template: Básicos</h2>
  <hr />

  <div class="row">
    <div class="col">
      <form (ngSubmit)="guardar()" #miFormulario="ngForm">
        <!-- Producto -->
        <div class="mb-3 row col-sm-10">
          <div class="col-sm-10">
            <input
              minlength="3"
              autocomplete="off"
              [ngModel]="initForm.producto"
              required
              name="producto"
              type="text"
              class="form-control"
              placeholder="Nombre del producto"
            />
          </div>
          <span class="form-text text-danger" *ngIf="nombreValido()"
            >Debe contener al menos 3 carácteres.</span
          >
        </div>

        <!-- Precio del producto -->
        <div class="mb-3 row col-sm-10">
          <div class="col-sm-10">
            <input
              [ngModel]="initForm.precio"
              required
              name="precio"
              type="number"
              class="form-control"
              value="Precio del producto"
              placeholder="Precio del producto"
            />
            <span class="form-text text-danger" *ngIf="precioValido()"
              >El precio debe ser '0' o mayor.</span
            >
          </div>
        </div>

        <!-- Existencias -->
        <div class="mb-3 row col-sm-10">
          <div class="col-sm-10">
            <input
              [ngModel]="initForm.existencias"
              required
              minlength="3"
              name="existencias"
              type="number"
              class="form-control"
              value="Existencias del producto"
              customMin
              [minimo]="0"
              placeholder="Existencias del producto"
            />
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="miFormulario.invalid"
        >
          Guardar
        </button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <span>Valid</span>
    <pre>{{ miFormulario.valid }}</pre>
    <span>Value</span>
    <pre>{{ miFormulario.valid | json }}</pre>
    <span>Pristine</span>
    <pre>{{ miFormulario.pristine | json }}</pre>
    <span>touched</span>
    <pre>{{ miFormulario.touched | json }}</pre>
    <span>Value</span>
    <pre>{{ miFormulario.value | json }}</pre>
    <span>CustomDirective</span>
    <pre>{{ miFormulario['controls']?.['existencias']?.errors | json }}</pre>
  </div>
</div>
